In [41]:
import pandas as pd

In [42]:
mockdata = pd.read_csv("MOCK_DATA.csv")
pokemon = pd.read_csv("data.csv")
pokemon

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

In [43]:
pokemon.groupby(["Generation", "Legendary"])[["HP"]].mean().reset_index().pivot(index="Generation", columns="Legendary", values="HP")

Legendary       False       True
Generation
1           64.612500   98.000000
2           69.613861  103.400000
3           64.626761   81.666667
4           69.740741  100.846154
5           69.353333   96.133333
6           66.189189   87.500000

In [50]:
pd.DataFrame(pokemon.groupby(["Type 1"]).size())

            0
Type 1
Bug        69
Dark       31
Dragon     32
Electric   44
Fairy      17
Fighting   27
Fire       52
Flying      4
Ghost      32
Grass      70
Ground     32
Ice        24
Normal     98
Poison     28
Psychic    57
Rock       44
Steel      27
Water     112

Type 1  #    Name        Type 2    Total  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  Generation  Legendary
Bug     12   Butterfree  Flying    395    60  45      50       90       80       70     1           False        1
        13   Weedle      Poison    195    40  35      30       20       20       50     1           False        1
        666  Vivillon    Flying    411    80  52      50       90       50       89     6           False        1
        167  Spinarak    Poison    250    40  60      40       40       40       30     2           False        1
        269  Dustox      Poison    385    60  50      70       50       90       65     3           False        1
                                                                                                                ..
Water   279  Pelipper    Flying    430    60  50      100      85       70       65     3           False        1
        79   Slowpoke    Psychic   315    90  65      65       40       40       15     1           False        1
        72   Tentacool   Poison    335    40  40      35       50       100      70     1           False        1
        62   Poliwrath   Fighting  510    90  95      95       70       90       70     1           False        1
        658  Greninja    Dark      530    72  95      67       103      71       122    6           False        1
Name: count, Length: 414, dtype: int64

In [45]:
import numpy as np
chart_data = pd.DataFrame(
    np.random.randn(20, 3),
    columns=['a', 'b', 'c'])
chart_data

           a         b         c
0  -0.008593 -0.212040 -0.600351
1  -1.029428 -0.236290  0.476158
2  -0.842961  0.668588  0.325516
3  -0.810248  2.031969 -0.002123
4  -0.005787  0.788013  0.107714
5  -0.060809 -0.814931 -0.770794
6  -1.568396 -1.541500 -0.120271
7   0.829333  2.309769 -0.944875
8  -0.184797 -0.191304 -0.508262
9   0.754220  0.673017 -0.512515
10  0.208356 -0.133455 -2.794332
11 -0.454517  0.871319  0.292013
12 -0.995767  0.379609  1.718099
13  1.026777 -1.147698 -1.328978
14  0.549913 -0.580869 -0.423834
15  0.704109 -0.828441  1.126473
16  0.102067  1.126725  1.199096
17 -0.263701  2.300409 -2.065895
18 -0.290595 -0.106509  0.585163
19 -1.240377  0.156314  0.903234